@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(233, 248, 250);
    font-family: 'Inter';
    font-style: normal;
    font-weight: 200;
    font-size: 20px;
    line-height: 150%;
}

nav{
    background-color: #ffff;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    display: inline-flex;
    color: #4DB6D2;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

nav img{
    height: 10vh;
}

main{
    padding: 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    min-height: 40vh;
}

section{
    margin: 0.5rem 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
}

#text{
    resize: none;
    border-style: none;
    padding: 0.5rem;
    border-radius: 10px;
    background-color: transparent;
}

#text::placeholder {
    color: rgb(10, 56, 113);
    font-size: 1rem;
    font-weight: bold;
}

textarea:focus{
    outline: none;
}

.muted{
    font-size: x-small;
    color: rgb(44, 44, 49);
    padding-left: 0.5rem;
}

.buttons{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

#button1{
    border-radius: 10px;
    padding: 0.8rem;
    color: aliceblue;
    background-color: rgb(10, 56, 113);
    cursor: pointer;
}

#button2{
    border-radius: 10px;
    padding: 0.8rem;
    color: rgb(10, 56, 113);
    border-color: rgba(10, 56, 113, 0.7);
    outline-color: rgb(10, 56, 113) ;
    cursor: pointer;
    background-color: transparent;
}

.copy{
    position: absolute;
    right: 60px;
    height: 40px;
    width: 60px;
    margin-left: 0%;
    margin-top: 10%; 
    border: none;
    cursor: pointer;
    background-color: transparent;
    color: rgb(10, 56, 113);
    align-self: flex-start;
}

.message{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 0.5rem;
}

#message{
    background-color: white;
    border-radius: 10px;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border-style: none;
    resize: none;
    box-shadow: 0 0 50px rgba(0,0,0,0.8);
}

#message::placeholder {
    color: rgb(10, 56, 113);
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
}

footer{
    width: 100vw;
    height: 8vh;
    background-color: #4DB6D2;
    justify-content: center;
    align-items: flex-end;
    color: #ffff;
    display: flex;
    padding: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: small;
    position: fixed;
    bottom: 0;
}

@media only screen and (min-device-width: 1200px) {
    
    main{
        display: flex;
        justify-content: center;
        margin-top: 2rem;
    }
    
    .text-section{
        min-width: 45%;
        align-items: center;
    }

    #text{
        min-height: 40vh;
        min-width: 100%;
    }

    .buttons{
        flex-direction: row;
        min-width: 100%;
    }

    .muted{
        align-self: flex-start;
    }

    button{
        width: 50%;
    }

    .message-section{
        min-width: 25%;
    }

    .message{
        min-height: 95%;
        justify-content: flex-start;
    }

    #message{
        background-image: url("./munieco.png");
        background-repeat: no-repeat;
        background-position: center;
        min-height: 100%;
    }

    .copy{
        right: 17vw;
        bottom: 18vh;
    }

    footer{
        position: fixed;
        bottom: 0;
    }
}


@media only screen and (min-device-width: 567px) and (max-device-width: 1199px){

    #text{
        min-height: 40vh;
    }

    .muted{
        padding-left: 1rem;
    }
    .buttons{
        flex-direction: row;
    }
    
    button{
        width: 50%;
    }
    
    .copy{
        margin-bottom: 8%;
    }
}
